*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

form{
    /* border: 2px solid black; */
    border-radius: 3px;
    background-color: white;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: fit-content;
    color: black;
    gap: 0.5rem;
    /* height: fit-content; */
}

section{
    /* border: 2px solid yellow; */
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    /* gap: 0.12rem; */
}

form h1{
    font-size: 50px;
    font-weight: 600;
    margin-left: 0.3rem;
    margin-top: -1rem;
}
p{
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 0.3rem;
    font-size: 1.025rem;
}

input{
    width: 100%;
    height: 42px;
    padding: 0.2rem 0.4rem;
    font-size: 15px;
    background-color:rgb(206, 225, 232);
    border: none;
    border-radius: 5px;
    color: black;
}
input:focus{
    background-color:lightgray;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
    background-color: rgb(117, 117, 208);
    border: none;
}
button:active{
    background-color: rgb(77, 77, 204);
}

label{
    font-size: 16px;
}
